@font-face {
	font-family: "Proxima Nova";
	font-weight: 900;
	font-style: normal;
	src: url(../fonts/ProximaNova-Black.otf);
}

/* Proxima Nova Bold */
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold; /* 700 */
	font-style: normal;
	src: url(../fonts/ProximaNova-Bold.otf);
}

/* Proxima Nova Bold Italic */
@font-face {
	font-family: "Proxima Nova";
	font-weight: bold; /* 700*/
	font-style: italic;
	src: url(../fonts/ProximaNova-BoldIt.otf);
}

/* Proxima Nova Extrabold */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 800;
	font-style: normal;
	src: url(../fonts/ProximaNova-Extrabold.otf);
}

/* Proxima Nova Light */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 300;
	font-style: normal;
	src: url(../fonts/ProximaNova-Light.otf);
}

/* Proxima Nova Light Italic */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 300;
	font-style: italic;
	src: url(../fonts/ProximaNova-LightItalic.otf);
}

/* Proxima Nova Condensed Light */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 200;
	font-style: normal;
	src: url(../fonts/ProximaNovaCond-Light.otf);
}

/* Proxima Nova Condensed Light Italic */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 200;
	font-style: italic;
	src: url(../fonts/ProximaNovaCond-LightIt.otf);
}

/* Proxima Nova Regular */
@font-face {
	font-family: "Proxima Nova";
	font-weight: normal; /* 400 */
	font-style: normal;
	src: url(../fonts/ProximaNova-Regular.otf);
}

/* Proxima Nova */
@font-face {
	font-family: "Proxima Nova";
	font-weight: normal; /* 400 */
	font-style: italic;
	src: url(../fonts/ProximaNova-RegularItalic.otf);
}

/* Proxima Nova */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 500;
	font-style: normal;
	src: url(../fonts/ProximaNova-Semibold.otf);
}

/* Proxima Nova */
@font-face {
	font-family: "Proxima Nova";
	font-weight: 500;
	font-style: italic;
	src: url(../fonts/ProximaNova-SemiboldItalic.otf);
}
