body { 
  /*padding-top: 50px; */
  font-size: 16px;
  color: #777;
  font-family: "Monserrat", sans-serif;
  font-weight: 100;
}
/*h1, h2, h3, h4, h5, h6, a, input, .button, button, li a{
  font-family: 'Proxima Nova', sans-serif;

}*/
/*p {
  font-family: "Futura", "Proxima Nova", sans-serif;
}*/
h1{
  color: #FFF;
  text-align: center;
}
.green h1, .green h3{
  color: rgb(255,255,0);
}
.navbar-brand {
  padding: 0px 15px;
  display: inline-block;
  line-height: 50px;
  float: left;
  font-size: 25px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-brand img{
  height: 100%;
}
.banner{
  height: 550px;
  background: url("../img/banner.jpg");
  background-size: cover;
  background-position: center center;
}
.banner-fondo{
  height: 550px;
  background: url("../img/banner-fondo.jpg");
  background-size: cover;
  background-position: center center;
}

.banner-fondo2{
  height: 650px;
  background: url("../img/banner-3.jpg");
  background-size: cover;
  background-position: center center;
}

.image_section img{
  float: right;
}
.sub-title{
    color: rgb(169, 168, 165);
    font-size: 28px;
}

.parrafo{
  width: 50%;
  text-align: justify;
}

.parrafo2{
  width: 50%;
  margin-left:50%;
  text-align: justify;
}
.otroparrafo{
  width: 60%;
  text-align:justify;
  
}

.parrafodolor{
  width: 100%;
  margin-left: 96%;
  margin: 16px;
}

.sub-title-header{
  text-align: center;
  margin-top: 8px;
}
  
.img-2{

  width: 100%;
  

  /*adding-top: 30px;*/
}
/*.img-2:hover{
    -webkit-filter: grayscale(100%); 
}*/
.hover_img img{
    -webkit-filter: grayscale(100%); 
}
.hover_img:hover img{
    -webkit-filter: none; 
}
.img-3{
  height: 100px;
  margin: 30px auto;
  display: block;
}
.image_section{
  text-align: center;
}
.img-dolor1{
    padding-top: 75px;
}
.img-5{
  border: 2px transparent;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  height: 255px;
  width: 255px;
  /*margin-right: 40px;*/
  background-position-x: -99px;
  /*margin: 30px auto;*/
  display: block;
  background-image: url("../img/home-circulo-2.jpg");
}
.img-6{
  border: 2px transparent;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  height: 255px;
  width: 255px;
  /*margin-right: 40px;
  margin-left: 40px;*/
  background-position-x: -99px;
  /*margin: 30px auto;*/
  display: block;
  background-image: url("../img/cuadrada3.jpg");
}
.img-4{
  border: 2px transparent;
  border-radius: 50%;
  margin: auto;
  margin-top: 50px;
  height: 255px;
  width: 255px;
  display: block;
  background-image: url("../img/breakfast.jpg");
}
.blue {
  background-color: rgb(66,188,226);
  color: #FFF;
  position: relative;
}
.blue2 {
  background-color: rgb(66,188,226);
  color: #FFF;
}
.green{
  background-color: rgb(146,208,80);
  color: #333;
}
.grey{
  background-color: rgb(66,188,226);;
  color: #FFF;
}
.white{
   background-color: #FFF;
    color: #777;
    position: relative;
}
.grey a{
  font-size: 15px;
  color:#fff;
}
.grey div{
  font-size: 15px;
  font-weight: 100;
}
.pad-30{
  padding-top: 30px;
  padding-bottom: 70px; 
}
.upper_arrow:before, .upper_arrow:after {
  box-sizing: border-box;
  content: "";
  display: block;
  position: absolute;
  top: -49px;
  border: 25px solid transparent;
}
.upper_arrow:before {
  left: 0;
  width: 50%;
  border-left: none;
}
.upper_arrow:after {
  right: 0;
  width: 50%;
  border-right: none;
  
}
.upper_arrow{
  position: relative;
}
.image_arrow {
  position: relative;
}
.image_arrow:after {
  top: 0px;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 30px;
  margin-left: -30px;
}
.green, .green:before, .green:after{
  border-bottom-color: rgb(146,208,80);
}

.blue, .blue:before, .blue:after{
  color: #FFF;
  border-bottom-color: rgb(66,188,226);

}
.blue2, .blue2:before, .blue2:after{
  color: #FFF;
  border-top-color: rgb(66,188,226);
  
}
.white, .white:before, .white:after{
  color: #777;
  border-bottom-color: #FFF;
}
.white2, .white2:before, .white2:after{
  color: #444;
  border-top-color: #FFF;
}
.white h3, .white:before h3, .white:after h3{
  color: rgb(66,188,226);
  text-transform: uppercase;
    font-size: 39px;
    margin-top: 0px;
}
.white-inv, .white-inv:before, .white-inv:after{
  color: #444;
  border-bottom-color: #FFF;
}
//Navbar

nav{
  
  width: auto;
  height: 75px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s;
}

nav.smaller img.logo{
  width: auto;
    height:60px;
    margin-top: 0px;
    margin-left: 0px;
}
nav.smaller a{
  width: auto;
   /* height:60px;*/

  
}
.navbar-default .navbar-nav>li>a{
  color: #000;
  text-shadow:none;
  line-height: 21px;
  /*font-size: 20px;*/
  /*font-weight: 100;*/
  /*text-shadow: 0 0 10px rgba(0, 0, 0, 2.2);*/
}
.navbar-default{
  /*background-color: rgb(227, 226, 224, 0.49);*/
  /*background-image: none;*/
   border-color: transparent;
 /* margin-top: 0%;*/
   height: 50px;
  background-color: transparent;
}

nav.smaller{
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);

}
.smaller .navbar-nav>li>a{
  color: #FFFFFFF;
  text-shadow: none;
  line-height: 21px;
}

.padding-extra{
  padding-top: 30px;
  padding-bottom: 70px;
}

img.logo{
   width: auto;
    height:60px;
    margin-top: 0px;
    margin-left: 0px;
  float: left;
    /*-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;*/
}

section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  /*font-family: "Roboto Slab", serif;*/
  font-size: 30px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  height: 600px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax.smaller {
  height: 400px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
section.module.parallax.even-smaller {
  height: 300px;
  /*background-position: 50% 50%;*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
div.container.title h1 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 48px;
  padding-top: 250px;
 /* line-height: 600px;*/
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(115, 114, 114, 1);
}
div.container.title h1.heading-interno {
  font-size: 76px;
  padding-top: 120px;
  text-align: left;
  color: rgba(255,255,255,1);
}
@media (max-width: 1199px) {
  div.container.title h1.heading-interno {
    font-size: 60px;
  }
}
@media (max-width: 991px) {
  div.container.title h1.heading-interno {
    font-size: 50px;
  }
}
@media (max-width: 767px) {
  div.container.title h1.heading-interno {
    font-size: 40px;
  }
}
@media (max-width: 480px) {
  div.container.title h1.heading-interno {
    font-size: 30px;
  }
}
section.module.parallax-1 {
  background-image: url("../img/home1.jpg");
  background-position-y: -100px;
}

section.module.parallax-2 {
  background-image: url("../img/home2.jpg");
}

section.module.parallax-3 {
  background-image: url("../img/home3.jpg");
}
section.module.parallax-4 {
  background-image: url("../img/piel2.jpg");
}
/*Dropdown*/
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
  background-color: transparent;
  font-weight: 100;
  color: #234069;
  text-shadow: none;
}

.dropdown-menu{
  background-color: rgba(255,255,255,0.6);
  border: none;
  list-style-type: none;
}

.dropdown-menu li{
  font-family: 'Proxima Nova', sans-serif;
  font-size: 20px;
  list-style-type: none;
  font-weight: 100;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

#vida , #sintomas{
  height:60px;
  top: -60px;
  position: absolute;
}

div.white h1{
    color: rgb(63, 63, 63);
    font-size: 45px;
}
div.blue h1{
    font-size: 45px;
}
a.button-right{
  float: right;
}
a.button{

  text-decoration: none;
  position: relative;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 30px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 0 5px 0 0;
  line-height: normal !important;
  border: none;
  -webkit-appearance: none;
  box-sizing: border-box;
  background-color: transparent !important;
  border-radius: 0px !important;
  border: 2px solid !important;
  margin: auto !important;
}

p.margenes{
  margin-bottom: 21px;
}


/*Dropdown interno*/
.nav-tabs > li, .nav-pills > li {
  width: 20%;
}

.nav-tabs, .nav-pills {
    text-align:center;
}
/*Footer*/
.footer .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.brand-text{
  margin-top: 20px;
  /*text-align: center;*/
  /*margin-left: -85px;*/
}

.codigo{
 
  /* margin-left: -85px;*/
}

.texto-principio{
  text-align: center;
}

.imagen-logo{
  padding-top: 52px;
}

.terminos{
  margin-top: 10px;
  /*text-align: right;*/
}
.terminos a{
  padding-left:5px;
  padding-right: 5px;
}

.uppercase{
  text-transform: uppercase;  
}

.tabs-custom{
  width: auto;
  display: initial;
}

.tabs-custom > li > a{
  color: rgb(255, 255, 255);
  width: 100%;
  border: none;
  border-radius: 0px; 

}
.nav-tabs>li>a {
  border-radius: 0px;

}

.tabs-custom-interno > li.active > a{
  background-color: rgb(66, 188, 226);
  color: rgb(255,255,255);
    margin-right: 0px;
    border-color: rgb(66, 188, 226);
 }

/* .nav-tabs{
  border: none;
 }
*/
.tabs-custom-interno>li.active>a:focus{
  /*border: none;*/
  background-color: rgb(200, 200, 200);
  color: rgb(255,255,255);
 /* color: rgb(255,255,255);*/
}
.tabs-custom>li>a{
  background-color: rgba(7, 146, 226, 0.87);
}
.tabs-custom>li>a:hover{
   background-color: rgb(66, 188, 226);
  color: rgb(255,255,255);
}
.tabs-custom>li.active>a:focus{
  background-color: rgb(200, 200, 200);
  color: rgb(255,255,255);
}

.pad-tabs{
  padding-top: 10px;
  padding-bottom: 10px;
}
div.white-link{
  color: #fff;
}

div.white-link:hover{
  color: #e4e4e4;
}
.parallax-window {
    min-height: 600px;
    background: transparent;
}
.smaller-window{
  min-height: 400px;
}
h2{
  color: rgb(66, 188, 226);
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
}

ul li ul li{
  list-style-type: disc;
}

.lista-sin-estilo{
  list-style-type:none;
}

.sombreado{
  background-color: rgba(66, 188, 226,0.2);
}
.tabla-pequena{
  width: 50%;
  text-align: center;

}

/*Vacunas*/
body.vacunas-pag h2{
 /* color: rgb(216, 66, 141);*/
 
}

body.vacunas-pag div .tabs-custom-interno>li>a{
   color: rgb(216, 66, 141);
}
body.vacunas-pag div .tabs-custom-interno>li.active>a:focus{
  /*border: none;*/
  background-color: rgb(216, 66, 141);
  color: rgb(255,255,255);
 /* color: rgb(255,255,255);*/
}
body.vacunas-pag div .tabs-custom-interno>li.active>a{
  /*border: none;*/
  background-color: rgb(216, 66, 141);
  color: rgb(255,255,255);
    border: 1px solid rgb(216, 66, 141);
 /* color: rgb(255,255,255);*/
 margin-right: 0px;
}

body.vacunas-pag div.footer{
  background-color: rgb(216, 66, 141);
}

body.vacunas-pag ul.tabs-custom a{
  color: rgb(66, 188, 226);
}

body.vacunas-pag ul.tabs-custom a:hover{
 background-color: rgb(66, 188, 226);
 color: #fff;
}

ul.dropdown-menu.dropdown-main-menu{
  padding-top: 0px;
  padding-bottom: 0px;  
}

.smaller .dropdown-menu{
  
  background-color: rgba(255,255,255,0.9);
  border: none;
}
.navbar-nav>li>.dropdown-menu{
  /*margin-top: 8px; */ 
}
.legal{
    padding-top: 14px;
  font-size: 14px;
   padding-left:5px;
   text-align: justify;
  text-justify: inter-word;
}
.informacion_vacunas{
  /*position: relative;*/
}
.nervioso_info{
 
 /* position: absolute;*/
  top: 0px;
  right: 0px;
  height: 325px;

}


figcaption{
  text-align: center;
  padding: 30px;

}


.padding-top-extra{
  padding-top: 15px;
}

.boton:hover{
  opacity: 0.8;
  text-align: center;
}

.boton{
 text-align: center;
  float: left;
 /* min-width: 100px;
  min-height: 100px;
  width: 154px;
  height: 154px;
  margin-bottom: 10px;
  margin-right: 10px;*/
  /*background-color: #fff;*/
  color: #d8428d;
  /*border: 4px solid #d8428d;
  margin:2px;*/
  font-weight: bold;
    height: 174px;
}
figure{
  /*padding-top:5px;*/
  font-size: 16px;
  height: 100px;
  width: 100px;
}
@media(max-width: 991px) {
  figure{
    height: 60px;
    width: 60px;
  }
}
.boton1{
  border-color: #2FDBF3;
  background-color:#2FDBF3;
  color: #fff;
}
.dos-lineas figcaption{
    padding-top: 119px;
}
.boton1:hover, .boton1:active{
  background-color: #2FDBF3;
}
.boton2{
  border-color: rgb(169, 228, 236);
  background-color: rgb(169, 228, 236);
  color: #fff;
}
.una-linea figcaption {
   padding-top: 119px;
}
.boton2:hover , .boton2:active{
  background-color: #2AB8CC;

}
.tres-lineas{
  padding-top: 25px;
}
.boton3{
  border-color: #A6D5DB;
  background-color: #A6D5DB;
  color: #fff;
}

.boton3:hover{
  background-color: #2394A6;
}
.boton4{
  border-color: #A4C7CD;
  background-color: #A4C7CD;
  color: #fff;
}
.boton4:hover{
 background-color: #197282;
}
.boton5{
  border-color: #A0B5B8;
  background-color: #A0B5B8;
  color: #fff;
}
.boton5:hover{
 background-color: #0F454F;
}
.boton6{
  border-color: #9CA6A8;
  background-color: #9CA6A8; 
  color: #fff;
}
.boton6:hover{
 background-color:#082125;
}
.pad-borde{
  padding:15px;
}
.padding-vacunas-interno{
  padding: 30px 30px 30px 60px;
}
.links-vacunas{
    margin-top: 40px;
}

.vacuna{
 /* background-color: #fff;*/
 /*height: 830px;*/
}

.fondo-vacunas{
  background-color: #f3c6dc;
}
ul.nav.nav-tabs.tabs-custom-interno {
  position: absolute;
  top: -49px;
  width: 100%;
  border-bottom-color:transparent;
}

.row-interno{
  position: relative;
}

ul.nav.nav-tabs.tabs-custom-interno li {
  background: #fff;
}

.tabla {
    display: table;
  }

  .filaTabla {
    display: table-row;
  }

  .celda {
    display: table-cell;
    float: none;
  }

.vacunas-fondo{
  
}
.owl-theme .owl-controls{
  margin: 0;
  text-align: center;
}

/* Styling Pagination*/
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  margin: 30px 10px;
  font-family: monospace;
  line-height: 1.0;
  color: #d4d4d4;
  text-transform: uppercase;
}
.owl-theme .owl-controls .owl-page.active span {
  color: #333333;
}

.nervioso_info1{
  
}
.nervioso_info2{
  display: none;
}
.nervioso_info3{
  display: none;
}
@media(max-width: 991px) {
  .nervioso_info3{
    height: 500px;
  }
}
.nervioso_info4{
  display: none;
}


.nervioso-inter{
  padding-left: 292px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.vista-inter-sola{
  padding-left: 207px;
  color: white;
  background-color: #2CDDEB;
  width: 500px;
  font-size: 23px;
}

.sin_decoracion:hover{
    text-decoration: none;
}

.dropdown-menu>li>a{
  font-weight: 100;
}

.info_cardio1{

}
.info_cardio2{
  display: none;
}



.cardio_info{
  top: 0px;
  right: 0px;
  height: 228px;

}

.cardio-inter{

  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 70px;
}

.vista-inter-cardio{
  text-align: center;
  color: white;
  background-color: #2CDDEB;
  width: 450px;
  font-size: 23px;
}
.vista-inter-vacu{
  text-align: center;
  color: white;
  background-color: #D8428D;
  width: 450px;
  font-size: 23px;
}

.dolor_info{
  top: 0px;
  right: 0px;
}



.info_dolor1{
  
}
.info_dolor2{
  display: none;
}
.info_dolor3{
  display: none;
}

.dolor-inter-sup{
padding-top: 70px;
  padding-left: 70px;
  padding-bottom: 35px;
}
.dolor-inter-inf{
  padding-top: 35px;
padding-bottom: 70px;
  padding-left: 70px;
}
.piel_info{
  margin-top: 6%;
  /*font-weight: 600;*/
}

.info_piel1{

}
.info_piel2{
  display: none;
}
.info_piel3{
  display: none;
}
.info_piel4{
  display: none;
}
.info_piel5{
  display: none;
}

.nutri_info{
  top: 0px;
  left: 0px;
  height: 350px;
}
.ejer_info2{
  top: 0px;
  left: 0px;
  height: 350px;
}
.ejer_info2 h2{
  font-size: 85px;
  font-weight: 500;
  text-align: center;
   color: #fff;
}
.ejer_info2 p{
  font-size: 20px;
  color: #fff;
}

.ejer_info p{
  font-size: 20px;
}
.nutri_info p{
  font-size: 20px;
}

.piel-icono{
  height: 425px;
}

.pfizer-carousel .col-sm-7, .pfizer-carousel .col-sm-5 {
    padding-left: 0px;
    padding-right: 0px;
}
.pfizer-carousel .col-sm-7 {
    /*padding-right: 1px;*/
}
.pfizer-carousel .col-sm-5 {
    padding-left: 1px;
}
@media (min-width: 768px) {
/*                .vertical .carousel-inner {
      height: 100%;
    }*/
    /*.carousel.vertical .item {
      -webkit-transition: 0.6s ease-in-out top;
         -moz-transition: 0.6s ease-in-out top;
          -ms-transition: 0.6s ease-in-out top;
           -o-transition: 0.6s ease-in-out top;
              transition: 0.6s ease-in-out top;
    }
    .carousel.vertical .active {
      top: 0;
    }
    .carousel.vertical .next {
      top: 100%;
    }
    .carousel.vertical .prev {
      top: -100%;
    }
    .carousel.vertical .next.left,
    .carousel.vertical .prev.right {
      top: 0;
    }
    .carousel.vertical .active.left {
      top: -100%;
    }
    .carousel.vertical .active.right {
      top: 100%;
    }
    .carousel.vertical .item {
        left: 0;
    }​*/
    ul, ol /*.vertical .pfizer-slider-indicators ol*/ {
        margin-bottom: 0px !important;
    }
    .pfizer-slider-indicators .carousel-indicators {
        margin-left: 0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
    .pfizer-slider-indicators .carousel-indicators li {
        display: table;
        width: 100%;
        margin: 0px;
        border-radius: 0px;
        text-indent: 0;
        border: 0;
        padding: 5px;
    }
    .pfizer-slider-indicators .carousel-indicators li p {
        display: table-cell;
        vertical-align: middle;
        color: #ffffff;
        font-size: 20px;
        font-weight: 300;
    }

    li.botones4{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      width: 465px !important;
      height: 92.5px !important;
    }
    li.botones4u{
      margin-left: 10px !important;
      width: 465px !important;
      height: 92.5px !important;
    }
    li.botones4a{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      height: 92.5px !important;
    }
    li.botones4au{
      margin-bottom: 10px !important;
      height: 92.5px !important;
    }
    li.botones4a{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      height: 92.5px !important;
    }
    li.botones4au{
      margin-bottom: 10px !important;
      height: 92.5px !important;
    }

    li.botones8a{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      width: 227.5px !important;
      height: 92.5px !important;
      float: left;
    }
    li.botones8au{
      margin-left: 10px !important;
      width: 227.5px !important;
      height: 92.5px !important;
      float: left;
    }
    li.botones6a{
      height: 126.6px !important;
      margin-bottom: 10px !important;
      margin-left: 10px !important;
      width: 227.5px !important;
      float: left;
    }
    li.botones6au{
      height: 126.6px !important;
      width: 227.5px !important;
      margin-left: 10px !important;
      float: left;
    }
    li.botones3{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      width: 465px !important;
      height: 127px !important;
    }
    li.botones3u{
      margin-left: 10px !important;
      width: 465px !important;
      height: 126px !important;
    }

    li.botones5{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      width: 465px !important;
      height: 72px !important;
    }
    li.botones5u{
      margin-left: 10px !important;
      width: 465px !important;
      height: 72px !important;
    }

    li.botones6{
      margin-left: 10px !important;
      margin-bottom: 10px !important;
      width: 232.5px !important;
      height: 125px !important;
    }


    .pfizer-carousel .item .carousel-caption {
        display: table;
        width: 100%;
        height: 100%;
        right: 0;
        left: 0;
        bottom: 0;
        text-shadow: none;
        text-align: left;
        padding: 0px 5%;
          font-size: 20px;
      font-weight: 300;
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .pfizer-carousel .item .carousel-caption .carousel-caption-text {
        display: table-cell;
        vertical-align: middle;
    }
    .pfizer-carousel .item .container .carousel-caption p,
    .pfizer-carousel .item .container .carousel-caption ul,
    .pfizer-carousel .item .container .carousel-caption ol {
        display: block;
        text-shadow: none;
        text-align: left;
        margin-bottom: 0px;
    }
}


#myCarouselCardio1.pfizer-carousel .item,
#myCarouselCardio1.pfizer-carousel .pfizer-slider-indicators {
    height: 400px;
}
@media(min-width: 768px) {
  #myCarouselCardio1 .pfizer-slider-indicators .carousel-indicators li {
    height: 25%;
      background:#33D7F2;
  }
}

#myCarouselCardio2.pfizer-carousel .item,
#myCarouselCardio2.pfizer-carousel .pfizer-slider-indicators {
    height: 400px;
}
@media(min-width: 768px) {
  #myCarouselCardio2 .pfizer-slider-indicators .carousel-indicators li {
    height: 33.33%;
  }
}

#myCarouselPiel1.pfizer-carousel .item,
#myCarouselPiel1.pfizer-carousel .pfizer-slider-indicators {
    height: 400px;
}
@media(min-width: 768px) {
  #myCarouselPiel1 .pfizer-slider-indicators .carousel-indicators li {
    height: 20%;
  }
}
#myCarouselPiel2.pfizer-carousel .item,
#myCarouselPiel2.pfizer-carousel .pfizer-slider-indicators {
    height: 400px;
}
@media(min-width: 768px) {
  #myCarouselPiel2 .pfizer-slider-indicators .carousel-indicators li {
    height: 12.5%;
  }
}
#myCarouselPiel4.pfizer-carousel .item,
#myCarouselPiel4.pfizer-carousel .pfizer-slider-indicators {
    height: 396px;
}
@media(min-width: 768px) {
  #myCarouselPiel4 .pfizer-slider-indicators .carousel-indicators li {
    height: 16.667%;
  }
}

.botonera{
  width: 175px;
  height: 175px;
  padding: 38px;
  margin: 5px;
  cursor: pointer;
  text-align: justify;
}

@media(max-width: 991px) {
  .botonera{
    width: 150px;
    height: 150px;
    padding: 27px;
  }
}
.boton-wide {
  width: 100%;
  height: 75px;
}
.boton-wide figure {
  margin-left: auto;
  margin-right: auto;
}
.boton-wide figure img {
  margin-top: 10px;
}
.boton_nervio1{
  background-color: #33D7F2;
}

.boton_nervio2{
  background-color: #25BBCA;
}
.boton_nervio3{
  background-color: #2394A4;
}
.boton_nervio4{
  background-color: #13717D;
}   
.fila-slider{
  height: 450px;
  padding-top: 20px;
}

.container-slider{
  width: 100%;
  height:100%;
}

.boton_cardio1{
  background-color: #33D7F2;
}

.boton_cardio2{

  background-color: #25BBCA;
}

.boton_piel1{
  background-color: #33D7F2;
}

.boton_piel2{

  background-color: #25BBCA;
}
.boton_piel3{
  
  background-color: #2394A4;
}
.boton_piel4{
  
  background-color: #13717D;
}
.boton_piel5{  
  background-color: #0A393D;
}

.boton_piel11{

  background-color: #33D7F2;
}

.boton_piel12{

  background-color: #25BBCA;
}
.boton_piel13{

  background-color: #2394A4;
}
.boton_piel14{
 
  background-color: #13717D;
}

.boton_piel21{
  background-color: #33D7F2;
}

.boton_piel22{
  background-color: #25BBCA;
}
.boton_piel23{
  background-color: #2394A4;
}
.boton_piel24{
  background-color: #13717D;
}

.boton_piel41{
  background-color: #33D7F2;
}

.boton_piel42{
  background-color: #25BBCA;
}

.boton_dolor31{
  background-color: #33D7F2;
}

.boton_dolor32{
  background-color: #25BBCA;
}
.boton_dolor33{
  background-color: #2394A4;
}
.boton_dolor34{
  background-color: #13717D;
}
.boton_dolor1{
 
  background-color: #33D7F2;
}

.boton_dolor2{
 
  background-color: #25BBCA;
}
.boton_dolor3{

  background-color: #2394A4;
}

.boton_dolor21{
  background-color: #33D7F2;
}

.boton_dolor22{
  background-color: #25BBCA;
}
.boton_dolor23{
  background-color: #2394A4;
}
.boton_dolor24{
  background-color: #13717D;
}

.botonera_vacunas{
  border: 2px transparent;
  border-radius: 100px;
  height: 125px;
  width: 125px;
  padding: 25px;
  margin: 22px;
  cursor: pointer;
  
}
.botonera_vacunas:hover{
  border: 3px solid #D1D2D4;
  cursor: pointer;
}

.botonera_vacunas2{
  border: 2px transparent;
  border-radius: 100px;
  height: 125px;
  width: 125px;
  padding: 25px;
  margin: 2px;
  cursor: pointer;
  
}
.botonera_vacunas2:hover{
  border: 3px solid #D1D2D4;
  cursor: pointer;
}
.botonera_nutricion{
  border: 2px transparent;
  border-radius: 100px;
  height: 150px;
  width: 150px;
  padding: 37px;
  margin: 5px;
  cursor: pointer;
   
  
}
.botonera_nutricion:hover{
  border: 3px solid #D1D2D4; 
  cursor: pointer;
}
.boton_vacuna1{
  background-color: #FF4CA7;
  color: #FF4CA7;
}
.vacuna10 h2{
  color: #FF4CA7;
}
.boton_vacuna7{
  background-color: #ff6fb8;
  color: #ff6fb8;
}
.vacuna5 h2{
  color: #ff6fb8;
}
.boton_vacuna8{
  background-color: #ff81c1;
  color: #ff81c1;
}
.vacuna11 h2{
  color: #ff81c1;
}
.boton_vacuna9{
  background-color: #ff93ca;
  color: #ff93ca;
}
.vacuna8 h2{
  color:#ff93ca;
}
.boton_vacuna2{
  background-color: #CC3E86;
  color: #CC3E86;
}
.vacuna14 h2{
  color: #CC3E86;
}
.boton_vacuna3{
  background-color: #AC3471;
  color: #AC3471;
}
.vacuna1 h2{
  color: #AC3471;
}
.boton_vacuna4{
  background-color: #73234C;
  color: #73234C;
}
.vacuna9 h2{
  color: #73234C;
}
.boton_vacuna5{
  background-color: #4C1630;
  color: #4C1630;
}
.vacuna7 h2{
  color: #4C1630;
}
.boton_vacuna6{
  background-color: #250B19;
  color: #250B19;
}
.vacuna2 h2{
   color: #250B19;
}
.texto-iconos{
  text-align: center;
  padding-top: 30px;
  font-weight: 400;
}

.vacuna{
  padding-top: 70px;

}

.media-vacuna{
    padding-top: 55px;
}

.flecha-up{
  float: right;
  padding-top: 70px;
  margin-bottom: 30px
}


.cardio_text_1{
  font-size: 20px;
}

.cardio_text_2{
    font-size: 20px;
}

.cardio_text_3{
  font-size: 15px;
}

.cardio_text_4{
  font-size: 18px;
}

.vacuna1{
   display: none;
}
.vacuna2{
   display: none;
}
.vacuna3{
   display: none;
}
.vacuna4{
   display: none;
}
.vacuna5{
   display: none;
}
.vacuna6{
   display: none;
}
.vacuna7{
   display: none;
}
.vacuna8{
   
}
.vacuna9{
   display: none;
}
.vacuna10{
  
}
.vacuna11{
   display: none;
}
.vacuna12{
   display: none;
}
.vacuna13{
   display: none;
}
.vacuna14{
   display: none;
}
.vacuna15{
   display: none;
}

.info_nutri1{

}
.info_nutri2{
  display: none;
}
.info_nutri3{
  display: none;
}
.info_nutri4{
  display: none;
}
.info_nutri5{
  display: none;
}
.boton_nutri1{
  background-color: #75FFC4;
}
.info_nutri1 h2{
  color: #75FFC4;
}
.boton_nutri2{
  background-color: #6BE6B0;
}
.info_nutri2 h2{
  color: #6BE6B0;
}
.boton_nutri3{
  background-color: #5ECC9B;
}
.info_nutri3 h2{
  color: #5ECC9B;
}
.boton_nutri4{
  background-color: #54B389;
}
.info_nutri4 h2{
  color: #54B389;
}
.boton_nutri5{
  background-color: #489A76;
}
.info_nutri5 h2{
  color: #489A76;
}
.row-medio{
  margin-left: 66px;
  margin-top: 20px;
}
.referencias-nutri h2{
  color: #72D2A8;
}

.referencias-nutri{
  font-weight:600;
  margin-top: -30px;
}
.referencias-ejer{
  font-weight: 600;
}

.boton_ejer1{
  background-color: #FFC586;
}
.info_ejer1 h2{
  color: #FFC586;
}
.boton_ejer2{
  background-color: #FFB059;
}
.info_ejer2 h2{
  color: #FFB059;
}
.boton_ejer3{
  background-color: #FF9B2C;
}
.info_ejer3 h2{
  color: #FF9B2C;
}
.boton_ejer4{
  background-color: #FF8601;
}
.info_ejer4 h2{
  color: #FF8601;
}

.botonera_ejer{
  width: 233px;
  height: 154px;
  padding: 27px;
  padding-left: 67px;
  margin: 5px;
  cursor: pointer;
}

.botonera_ejer:hover{
  border: 3px solid #D1D2D4;
  cursor: pointer;
}

.info_ejer1{

}
.info_ejer2{
  display: none;
}
.info_ejer3{
  display: none;
}
.info_ejer4{
  display: none;
}

.botonera_ejer2{
  border: 2px transparent;
  border-radius: 50%;
  height: 125px;
  width: 125px;
  padding: 7px;
  padding-left: 11px;
  margin: 5px;
  cursor: pointer;
}

.botonera_ejer2 figure{
  color: white;
  font-size: 85px;
  font-weight: 500;
  padding-bottom: 0px;
  text-align: center;
}

.boton_ejer21{
  background-color: #FF8601;
}
.botonera_info_ejer2{
  background-color: #FF8601;
}
.boton_ejer22{
  background-color: #FF8C0D;
}
.boton_ejer23{
  background-color: #FF931C;
}
.boton_ejer24{
  background-color: #FF9A28;
}
.boton_ejer25{
  background-color: #FF9F36;
}
.boton_ejer26{
  background-color: #FFA544;
}
.boton_ejer27{
  background-color: #FFB35F;
}
.boton_ejer28{
  background-color: #FFB35F;
}
.boton_ejer29{
  background-color: #FFB86C;
}
.boton_ejer30{
  background-color: #FFBF78;
}
.boton_ejer31{
  background-color: #FFC586;
}

.info_ejer21{

}
.info_ejer22{
  display: none;
}
.info_ejer23{
   display: none;
}
.info_ejer24{
   display: none;
}
.info_ejer25{
   display: none;
}
.info_ejer26{
   display: none;
}
.info_ejer27{
   display: none;
}
.info_ejer28{
   display: none;
}
.info_ejer29{
   display: none;
}
.info_ejer30{
   display: none;
}
.info_ejer31{
   display: none;
}

.justificar p{
  text-align: justify;
  text-justify: inter-word;
}

.boton_numero figure{
  color: rgb(253, 253, 253);
  font-size: 85px;
  font-weight: 500;
  padding-bottom: 0px;
  text-align: center;
  margin-top: -14%;
}

.menos_espacio p{
  letter-spacing: 0pt;
}

.menos_espacio2 p{
  letter-spacing: -0.3pt;
}

.titulos_ejer{
  color: #FF8601;
}

#menu_vacunas{
    padding-left: 78px;
}



.botonera_ejercicio3{
  border: 2px transparent;
  border-radius: 50%;
  height: 75px;
  width: 75px;
  padding: 12px;
  margin: 22px;
  cursor: pointer;
  
}
.botonera_ejercicio4{
  border: 2px transparent;
  border-radius: 15px;
  height: 127px;
  width: 333px;
  padding-top: 13px;
  /*margin: 22px;
  cursor: pointer;*/
  color: white;
  
}

.imagen-running{
  background-image: url("../img/girl-running.jpg");
  height: 895px;
  position: relative;
  background-size: cover;
  background-position: center center;
}
.botonera_relative{
  position: absolute;
  left:200px;
  top: 28px;
}
.botonera_relative1{
  position: absolute;
}

.boton_running1{
   
}
.boton_running2{
    height: 99px;
    display: none;
}
.boton_running3{
    height: 99px;
    display: none;
}
.boton_running4{
   
    display: none;
}
.boton_running5{
    height: 99px;
    display: none;
}
.boton_running6{
   height: 99px;
    display: none;
}
.boton_running7{
    
    display: none;
}
.boton_running8{
    height: 99px;
    display: none;
}
.boton_running9{
    height: 99px;
    display: none;
}
hr.raya{
  background-color: #FD19DA;
  height: 1px;
  position: absolute; 
}
hr.rayaejer1{ 
  width: 60%;
  top: 41px;
  left: 348px;
}

hr.rayaejer2{
  width: 65%;
  top: 28px;
  left: 348px
}

hr.rayaejer3{
  width: 81%;
  top: 28px;
  left: 348px
}

hr.rayaejer4{
  width: 104%;
  top: 52px;
  left: 348px
}

hr.rayaejer5{
  width: 58%;
  top: 33px;
  left: 348px
}

hr.rayaejer6{
  width: 77%;
  top: 33px;
  left: 348px
}
hr.rayaejer7{
  width: 86%;
  top: 33px;
  left: 348px
}
hr.rayaejer8{
  width: 66%;
  top: 33px;
  left: 348px
}
hr.rayaejer9{
    width: 51%;
  top: 33px;
  left: 348px
}

.tabla-pequena2 {
  width: 380px;
  color: rgb(169, 168, 165);

}


.navbar{
    -webkit-transition: background-color 700ms linear;
    -moz-transition: background-color 700ms linear;
    -o-transition: background-color 700ms linear;
    -ms-transition: background-color 700ms linear;
    transition: background-color 700ms linear;
    
}

 .scrolled {
    background-color: rgba(255,255,255,0.95) !important;
}
.nav>li:hover {
  background-color: rgb(66,188,226);
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .nav>li>a:hover {
    color: #fff;
}
.navbar-right .dropdown-menu {
  left: 0px;
  right: auto;
  background-color: #fff;
}
p { 
  font-size: 17px;
   line-height: 22px;
   text-align: justify;
}
h2 {
  margin-top: 0px;
}
.info{
  padding-top: 30px;
}

.navbar-fixed-top {
  border-width: 0 !important;
}
.navbar {
  margin-bottom: 0px !important;
  border: 0px solid transparent !important;
}
.grey div.legal {
  font-size: 11px;
}
.grey .terminos a{
   font-size: 11px;
}
.smaller-window .navbar-default{
  background-color: rgba(255,255,255,0.90);
}
.nav>li>a {
  padding: 20px 15px;
}
.navbar-nav>li>a {
  padding-top: 14px;
  padding-bottom: 15px;
}

.apagado {
  background-color: #DEDEDE !important;
}

.boton_cardio1:hover {
  background-color: #33D7F2;
}
.boton_cardio2:hover {
  background-color: #25BBCA;
}
.carousel-indicators li.slide1{
  background-color:#33D7F2;
}
.carousel-indicators li.slide2{
  background-color:#25BBCA;
}
.carousel-indicators li.slide3{
  background-color:#2394A4;
}
.carousel-indicators li.slide4{
  background-color:#13717D;
}
.carousel-indicators li.slide5{
  background-color:#0F363D;
}

.carousel-indicators li.slide18{
  background-color:#67c9e7;
}
.carousel-indicators li.slide28{
  background-color:#54c2e4;
}
.carousel-indicators li.slide38{
  background-color:#42bce2;
}
.carousel-indicators li.slide48{
  background-color:#3ba9cb;
}
.carousel-indicators li.slide58{
  background-color:#3496b4;
}
.carousel-indicators li.slide68{
  background-color:#2e839e;
}
.carousel-indicators li.slide78{
  background-color:#277087;
}
.carousel-indicators li.slide88{
  background-color:#215e71;
}

.pfizer-slider-indicators .carousel-indicators li p {
  text-align: center;
}
.pfizer-slider-indicators .carousel-indicators li.slide1:hover {
  background-color:#33D7F2 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide2:hover {
  background-color:#25BBCA !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide3:hover {
  background-color:#2394A4 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide4:hover {
  background-color:#13717D !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide5:hover {
  background-color:#0F363D !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide18:hover {
  background-color:#67c9e7 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide28:hover {
  background-color:#54c2e4 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide38:hover {
  background-color:#42bce2 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide48:hover {
  background-color:#3ba9cb !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide58:hover {
  background-color:#3496b4 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide68:hover {
  background-color:#2e839e !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide78:hover {
  background-color:#277087 !important;
}
.pfizer-slider-indicators .carousel-indicators li.slide88:hover {
  background-color:#215e71 !important;
}

.boton_cardio1:hover {
  background-color: #33D7F2 !important;
}
.boton_cardio2:hover{
  background-color: #25BBCA !important;
}
.boton_piel1:hover{
  background-color: #33D7F2 !important;
}
.boton_piel2:hover{
  background-color: #25BBCA !important;
}
.boton_piel3:hover{
  background-color: #2394A4 !important;
}
.boton_piel4:hover{
  background-color: #13717D !important;
}
.boton_piel5:hover{
  background-color: #0A393D !important;
}
.boton_piel11:hover{
  background-color: #33D7F2 !important;
}
.boton_piel12:hover{
  background-color: #25BBCA !important;
}
.boton_piel13:hover{
  background-color: #2394A4 !important;
}
.boton_piel14:hover{
  background-color: #13717D !important;
}
.boton_piel21:hover{
  background-color: #33D7F2 !important;
}
.boton_piel22:hover{
  background-color: #25BBCA !important;
}
.boton_piel23:hover{
  background-color: #2394A4 !important;
}
.boton_piel24:hover{
  background-color: #13717D !important;
}
.boton_piel41:hover{
  background-color: #33D7F2 !important;
}
.boton_piel42:hover{
  background-color: #25BBCA !important;
}
.boton_dolor31:hover{
  background-color: #33D7F2 !important;
}
.boton_dolor32:hover{
  background-color: #25BBCA !important;
}
.boton_dolor33:hover{
  background-color: #2394A4 !important;
}
.boton_dolor34:hover{
  background-color: #13717D !important;
}
.boton_dolor1:hover{
  background-color: #33D7F2 !important;
}
.boton_dolor2:hover{
  background-color: #25BBCA !important;
}
.boton_dolor3:hover{
  background-color: #2394A4 !important;
}
.boton_dolor21:hover{
  background-color: #33D7F2 !important;
}
.boton_dolor22:hover{
  background-color: #25BBCA !important;
}
.boton_dolor23:hover{
  background-color: #2394A4 !important;
}
.boton_dolor24:hover{
  background-color: #13717D !important;
}
.boton_nervio1:hover{
  background-color: #33D7F2 !important;
}
.boton_nervio2:hover{
  background-color: #25BBCA !important;
}
.boton_nervio3:hover{
  background-color: #2394A4 !important;
}
.boton_nervio4:hover{
  background-color: #13717D !important;
}   
.table{
  margin-bottom: 0px;
}