<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <!-- <meta http-equiv="Content-type" content="text/html; charset=utf-8"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="">
        <meta name="description" content="">
        <meta name="author" content="Turpial Development">
        <!-- <link rel="icon" href="favicon.ico"> -->

        <title>Pfizer</title>

        <!-- Bootstrap core CSS
        ================================================== -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom styles for this template
        ================================================== -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="css/fonts.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">

        <!-- Extra styles are placed here
        ================================================== -->
        <style type="text/css">
            .pfizer-carousel .item, .pfizer-carousel .pfizer-slider-indicators {
                height: 400px;
            }
            .pfizer-carousel .col-sm-7, .pfizer-carousel .col-sm-5 {
                padding-left: 0px;
                padding-right: 0px;
            }
            .pfizer-carousel .col-sm-7 {
                padding-right: 1px;
            }
            .pfizer-carousel .col-sm-5 {
                padding-left: 1px;
            }
            @media (min-width: 768px) {
/*                .vertical .carousel-inner {
                  height: 100%;
                }*/
                .carousel.vertical .item {
                  -webkit-transition: 0.6s ease-in-out top;
                     -moz-transition: 0.6s ease-in-out top;
                      -ms-transition: 0.6s ease-in-out top;
                       -o-transition: 0.6s ease-in-out top;
                          transition: 0.6s ease-in-out top;
                }
                .carousel.vertical .active {
                  top: 0;
                }
                .carousel.vertical .next {
                  top: 100%;
                }
                .carousel.vertical .prev {
                  top: -100%;
                }
                .carousel.vertical .next.left,
                .carousel.vertical .prev.right {
                  top: 0;
                }
                .carousel.vertical .active.left {
                  top: -100%;
                }
                .carousel.vertical .active.right {
                  top: 100%;
                }
                .carousel.vertical .item {
                    left: 0;
                }​
                .pfizer-slider-indicators ol, .vertical .pfizer-slider-indicators ol {
                    margin-bottom: 0px;
                }
                .pfizer-slider-indicators .carousel-indicators {
                    margin-left: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                }
                .pfizer-slider-indicators .carousel-indicators li {
                    display: table;
                    width: 100%;
                    margin: 0px;
                    height: 25%;
                    border-radius: 0px;
                    text-indent: 0;
                    border: 0;
                }
                .pfizer-slider-indicators .carousel-indicators li p {
                    display: table-cell;
                    vertical-align: middle;
                    color: #ffffff;
                }
                .pfizer-carousel .item .carousel-caption {
                    display: table;
                    width: 100%;
                    height: 100%;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    text-shadow: none;
                    text-align: justify;
                    padding: 0px 5%;
                }
                .pfizer-carousel .item .container .carousel-caption p {
                    display: table-cell;
                    text-shadow: none;
                    text-align: justify;
                    vertical-align: middle;
                    margin-bottom: 0px;
                }
            }
        </style>

        <!-- Extra JS placed here that requires to be
             loaded at the beginning of the page. Scripts
             that require JQuery are NOT placed here
        ================================================== -->

        <script src="js/jquery-1.11.2.min.js"></script>

        <!--[if lt IE 9]>
        <script src="{{ STATIC_URL }}ecosystems/js/html5shiv.js" %}"></script>
        <script src="{{ STATIC_URL }}ecosystems/js/respond.min.js" %}"></script>
        <![endif]-->
    </head>

    <body id="body" class="base">

        <!-- Carousel
        ================================================== -->
        <div id="myCarousel" class="carousel vertical slide pfizer-carousel" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators hidden-xs">
                <li data-target="#myCarousel" data-slide-to="0"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>
            <div class="col-sm-7 pfizer-slider">
                <div class="carousel-inner" role="listbox">
                    <div class="item active" style="background:black;">
                        <!-- <img class="first-slide" src="images/WB26_003.jpg" alt="First slide"> -->
                        <div class="container">
                            <div class="carousel-caption">
                                <p>Author</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background:red;">
                        <!-- <img class="second-slide" src="images/WB33_009.jpeg" alt="Second slide"> -->
                        <div class="container">
                            <div class="carousel-caption">
                                <p>Author</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background:blue;">
                        <!-- <img class="third-slide" src="images/CW40_085.jpg" alt="Third slide"> -->
                        <a href="images/CW40_085.jpg" class="carousel-img" target="_blank"></a>
                        <div class="container">
                            <div class="carousel-caption">
                                <p>Author</p>
                            </div>
                        </div>
                    </div>
                    <div class="item" style="background:yellow;">
                        <!-- <img class="fourth-slide" src="images/WB30_008.jpg" alt="Fourth slide"> -->
                        <div class="container">
                            <div class="carousel-caption">
                                <p>Author</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hidden-xs col-sm-5 pfizer-slider-indicators" style="background:black;">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" style="background:black;"><p>Prueba1</p></li>
                    <li data-target="#myCarousel" data-slide-to="1" style="background:red;"><p>Prueba2</p></li>
                    <li data-target="#myCarousel" data-slide-to="2" style="background:blue;"><p>Prueba3</p></li>
                    <li data-target="#myCarousel" data-slide-to="3" style="background:yellow;"><p>Prueba4</p></li>
                </ol>
            </div>
            <a class="left carousel-control visible-xs" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left visi" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control visible-xs" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div><!-- /.carousel -->


        <!-- Extra styles are placed here that requires to be
             loaded at the end of the page.
        ================================================== -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Extra JS placed here. Also, here goes all
             those scripts that require JQuery
        ================================================== -->
    </body>
</html>